<!DOCTYPE html>
<html lang="ko">

<div th:replace="~{xdm/v1/infra/include/head :: head}"></div>

<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">

<div th:replace="~{xdm/v1/infra/include/leftMenu :: leftMenu}"></div>          
      
<div th:replace="~{xdm/v1/infra/include/top :: top}"></div>         
      
<div class="content">
	<nav class="mb-2" aria-label="breadcrumb">
		<ol class="breadcrumb mb-0">
			<li class="breadcrumb-item"><a href="#!">Page 1</a></li>			<!-- ### -->
			<li class="breadcrumb-item"><a href="#!">Page 2</a></li>			<!-- ### -->
			<li class="breadcrumb-item active">Default</li>								<!-- ### -->
		</ol>
	</nav>
	<div class="mb-9">
	  	<div class="row g-3 mb-4">
	    	<div class="col-auto">
	      		<h2 class="mb-0">Qna관리</h2>														<!-- ### -->
	    	</div>
	  	</div>
		<div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
			<div class="card-header p-4 border-bottom border-300 bg-soft">
				<div class="row g-3 justify-content-between align-items-center">
					<div class="col-12 col-md">
						<h4 class="text-900 mb-0">기본정보</h4>
					</div>
				</div>
			</div>
			<div class="card-body p-0">
				<div class="p-4 code-to-copy">
					<form id="form" name="form" method="post" autocomplete="off" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate="">
			
<div th:replace="~{xdm/v1/infra/qna/QnaXdmVo :: vo}"></div>			<!-- ### --> 					

<div class="col-md-3">
	<label for="ifqaSeq" class="form-label fs--1">코드 <span class="text-danger fs-0">*</span></label>
	<input type="text" id="ifqaSeq" name="ifqaSeq" th:value="${item?.ifqaSeq}" maxlength="20" placeholder="자동생성" disabled class="form-control"/>
</div>
<div class="col-md-3">
	<label for="ifqaSecurityNy" class="form-label fs--1">비밀글 <span class="text-danger fs-0">*</span></label>
	<select id="ifqaSecurityNy" name="ifqaSecurityNy" class="form-select">
		<option value="" >선택하세요</option>
		<option value="1" th:selected="${item?.ifqaSecurityNy == 1}">사용</option>
		<option value="0" th:selected="${item?.ifqaSecurityNy == 0}">미사용</option>
	</select>
	<div class="invalid-feedback" id="ifqaSecurityNyFeedback"></div>
</div>
<div class="col-md-6">
	<!-- empty -->
</div>
<div class="col-md-3">
	<label for="ifqaStatusCd" class="form-label fs--1">질문상태<span class="text-danger fs-0">*</span></label>
	<select id="ifqaStatusCd" name="ifqaStatusCd" class="form-select">
		<option value="">선택하세요</option>
		<option th:each="list : ${@redisService.selectListCodeInRedisList(20)}" th:value="${list.ifcdSeq}" th:text="${list.ifcdName}" th:selected="${list.ifcdSeq} == ${item?.ifqaStatusCd}"></option>
	</select>
	<div class="invalid-feedback" id="ifqaStatusCdFeedback"></div>
</div>
<div class="col-md-3">
	<label for="ifqaTypeCd" class="form-label fs--1">질문타입<span class="text-danger fs-0">*</span></label>
	<select id="ifqaTypeCd" name="ifqaTypeCd" class="form-select">
		<option value="">선택하세요</option>
		<option th:each="list : ${@redisService.selectListCodeInRedisList(19)}" th:value="${list.ifcdSeq}" th:text="${list.ifcdName}" th:selected="${list.ifcdSeq} == ${item?.ifqaTypeCd}"></option>
	</select>
	<div class="invalid-feedback" id="ifqaTypeCdFeedback"></div>
</div>
<div class="col-md-6">
	<!-- empty -->
</div>
<div class="col-md-6">
	<label for="ifqaTitle" class="form-label fs--1">제목</label>
	<input type="text" id="ifqaTitle" name="ifqaTitle" th:value="${item?.ifqaTitle}" maxlength="20" placeholder="한글,숫자,영어" class="form-control"/>
	<div class="invalid-feedback" id="ifqaTitleFeedback"></div>
</div>
<div class="col-md-6">
	<!-- empty -->
</div>
<div class="col-md-6">
	<label class="form-label fs--1">질문내용</label>
	<div class="controls">
		<input type="hidden" id="ifqaContents" name="ifqaContents">							
	  	<div id="ifqaContentsEditor" th:utext="${item?.ifqaContents}"></div>
	  	<div class="invalid-feedback" id="ifqaContentsFeedback"></div>
<!-- 		<textarea class="form-control" id="ifqaContents" name="ifqaContents" th:text="${item?.ifqaContents}" th:value="${item?.ifqaContents}" style="height: 100px;"></textarea> -->
<!-- 		<div class="invalid-feedback" id="ifqaContentsFeedback"></div> -->
	</div>
</div>
<div class="col-md-6">
	<!-- empty -->
</div>
<div class="col-md-3">
	<label for="ifqaAnswerSeq" class="form-label fs--1">답변자코드 <span class="text-danger fs-0">*</span></label>
	<input type="text" id="ifqaAnswerSeq" name="ifqaAnswerSeq" th:value="${item?.ifqaAnswerSeq}" maxlength="20" placeholder="자동생성" disabled class="form-control"/>
	<div class="invalid-feedback" id="ifqaAnswerSeqFeedback"></div>
</div>
<div class="col-md-3">
	<label for="ifqaAnswerDisplayNy" class="form-label fs--1">답변디스플레이 <span class="text-danger fs-0">*</span></label>
	<select id="ifqaAnswerDisplayNy" name="ifqaAnswerDisplayNy" class="form-select">
		<option value="" >선택하세요</option>
		<option value="1" th:selected="${item?.ifqaAnswerDisplayNy == 1}">사용</option>
		<option value="0" th:selected="${item?.ifqaAnswerDisplayNy == 0}">미사용</option>
	</select>
	<div class="invalid-feedback" id="ifqaAnswerDisplayNyFeedback"></div>
</div>
<div class="col-md-6">
	<!-- empty -->
</div>
<div class="col-md-6">
	<label class="form-label fs--1">답변내용</label>
	<div class="controls">
		<input type="hidden" id="ifqaAnswer" name="ifqaAnswer">							
	  	<div id="ifqaAnswerEditor" th:utext="${item?.ifqaAnswer}"></div>
	  	<div class="invalid-feedback" id="ifqaAnswerFeedback"></div>
<!-- 		<textarea class="form-control" id="ifqaAnswer" name="ifqaAnswer" th:text="${item?.ifqaAnswer}" th:value="${item?.ifqaAnswer}" style="height: 100px;"></textarea> -->
<!-- 		<div class="invalid-feedback" id="ifqaAnswerFeedback"></div> -->
	</div>
</div>
<div class="col-md-6">
	<!-- empty -->
</div>
<div class="col-md-6">
	<label class="form-label fs--1">설명</label>
	<div class="controls">
		<input type="hidden" id="ifqaDesc" name="ifqaDesc">							
	  	<div id="ifqaDescEditor" th:utext="${item?.ifqaDesc}"></div>
	  	<div class="invalid-feedback" id="ifqaDescFeedback"></div>
<!-- 		<textarea class="form-control" id="ifqaAnswer" name="ifqaAnswer" th:text="${item?.ifqaAnswer}" th:value="${item?.ifqaAnswer}" style="height: 100px;"></textarea> -->
<!-- 		<div class="invalid-feedback" id="ifqaAnswerFeedback"></div> -->
	</div>
</div>
<div class="col-md-6">
	<!-- empty -->
</div>
						
<th:block th:if="${not #strings.isEmpty(item?.ifqaSeq)}">			
	<div th:replace="~{xdm/v1/infra/include/regmod :: regmod}"></div>   						
</th:block>					
										
<div class="col-12">
	<div class="row">
		<div class="col-6 text-start">
			<button type="button" id="btnList" class="btn btn-outline-secondary btn-sm btn_custom"><i class="fa-solid fa-list fa-lg"></i></button>
<th:block th:if="${not #strings.isEmpty(item?.ifqaSeq)}">									
			<button type="button" id="btnDelete" class="btn btn-danger btn-sm btn_custom"><i class="fa-solid fa-x fa-lg"></i></button>
			<button type="button" id="btnUelete" class="btn btn-danger btn-sm btn_custom"><i class="fa-regular fa-trash-can fa-lg"></i></button>
</th:block>
		</div>
		<div class="col-6 text-end">
<!-- 									<button type="button" id="btnForm" class="btn btn-primary btn-sm btn_custom"><i class="fa-regular fa-pen-to-square fa-lg"></i></button> -->
			<button type="button" id="btnSubmit" class="btn btn-primary btn_custom"><i class="fa-solid fa-database fa-lg"></i></button>
		</div>
	</div>          
</div>
					
					</form>
				</div>
			</div>
		</div>
	</div>

<div th:replace="~{xdm/v1/infra/include/footer :: footer}"></div>   

</div>

<form name="formVo" method="post">
	<div th:replace="~{xdm/v1/infra/qna/qnaXdmVo :: vo}"></div>			<!-- ### -->
</form>

<script>
	var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
	var navbarTop = document.querySelector('.navbar-top');
	
	if (navbarTopStyle === 'darker') {
		navbarTop.classList.add('navbar-darker');
	}

	var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
	var navbarVertical = document.querySelector('.navbar-vertical');
	if (navbarVertical && navbarVerticalStyle === 'darker') {
		navbarVertical.classList.add('navbar-darker');
	}
</script>
      
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<div th:replace="~{xdm/v1/infra/include/customize :: customize}"></div>

<div th:replace="~{xdm/v1/infra/include/modal :: modal}"></div>

<div th:replace="~{xdm/v1/infra/include/linkJs :: linkJs}"></div>

<script type="text/javascript">

	
	
	let goUrlXdmList = "/v1/infra/qna/qnaXdmList";						/* ### */
	let goUrlXdmAjaxList = "/v1/infra/qna/qnaXdmAjaxList";		/* ### */
	let goUrlXdmInst = "/v1/infra/qna/qnaXdmInst";						/* ### */
	let goUrlXdmUpdt = "/v1/infra/qna/qnaXdmUpdt";						/* ### */
	let goUrlXdmDele = "/v1/infra/qna/qnaXdmDele";						/* ### */
	let goUrlXdmUele = "/v1/infra/qna/qnaXdmUele";						/* ### */
	
	let seq = document.querySelector("input[name=ifqaSeq]");							/* ### */
	
	let ifqaContents = document.getElementById("ifqaContents");						/* ### */
	let ifqaAnswer = document.getElementById("ifqaAnswer");						/* ### */
	let ifqaDesc = document.getElementById("ifqaDesc");								/* ### */
	
    const ifqaContentsEditor = new toastui.Editor({
        el: document.querySelector('#ifqaContentsEditor'),
        height: '300px',
//         initialEditType: 'markdown',
        initialEditType: 'wysiwyg',
//         initialValue: '내용을 입력해 주세요.',
        previewStyle: 'vertical'
    });
	
	
    const ifqaAnswerEditor = new toastui.Editor({
        el: document.querySelector('#ifqaAnswerEditor'),
        height: '300px',
//         initialEditType: 'markdown',
        initialEditType: 'wysiwyg',
//         initialValue: '내용을 입력해 주세요.',
        previewStyle: 'vertical'
    });
	
	
    const ifqaDescEditor = new toastui.Editor({
        el: document.querySelector('#ifqaDescEditor'),
        height: '300px',
//         initialEditType: 'markdown',
        initialEditType: 'wysiwyg',
//         initialValue: '내용을 입력해 주세요.',
        previewStyle: 'vertical'
    });
    
	function validationInst() {
	    if(validationUpdt() == false) return false;
	    ifqaContents.value = ifqaContentsEditor.getHTML();
	    ifqaAnswer.value = ifqaAnswerEditor.getHTML();
	    ifqaDesc.value = ifqaDescEditor.getHTML();
	}
	
	
	function validationUpdt() {
 		if(!checkOnlyKoreanNumber('ifqaTitle', 2, 0, "정책은 한글과 숫자만 입력 가능합니다.")) return false;
// 		if(!checkOnlyEnglishNumber('ifqaVersion', 2, 0, "정책 버전은 영어와 숫자만 입력 가능합니다.")) return false;
// 		if(!checkSelectNull('ifqaUseNy', 2, 1, "사용여부를 선택해주세요")) return false;
// 		if(!checkOnlyNumber('ifcgOrder', 2, 0, 1, 0, 255, "순서는 숫자(0~255)만 입력 가능합니다.")) return false;
//  		if(!checkOnlyEnglishNumber('ifcgReferenceV1', 2, 1, "예비1 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
//  		if(!checkOnlyEnglishNumber('ifcgReferenceV2', 2, 1, "예비2 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
//  		if(!checkOnlyEnglishNumber('ifcgReferenceV3', 2, 1, "예비3 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
//  		if(!checkOnlyEnglishNumber('ifcgReferenceV4', 2, 1, "예비4 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
//  		if(!checkOnlyNumber('ifcgReferenceI1', 2, 1, 1, -128, 127, "예비1 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
//  		if(!checkOnlyNumber('ifcgReferenceI2', 2, 1, 1, -128, 127, "예비2 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
//  		if(!checkOnlyNumber('ifcgReferenceI3', 2, 1, 1, -128, 127, "예비3 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
//  		if(!checkOnlyNumber('ifcgReferenceI4', 2, 1, 1, -128, 127, "예비4 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
 		ifqaContents.value = ifqaContentsEditor.getHTML();
	    ifqaAnswer.value = ifqaAnswerEditor.getHTML();
	    ifqaDesc.value = ifqaDescEditor.getHTML();
	}

	
	upload = function() {
		
		alert("asdasdf");
	
	}
</script>

<script src="/xdm/v1/js/includeXdmForm.js"></script>

</body>
</html>