<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/v1/infra/include/head :: head}"></div>

<style type="text/css">

	.addScroll{
		overflow-y:auto;
		height: 200px;
		background-color:#E9ECEF;
		padding-top:5px; 
		padding-left:5px;
	}
 	
	.input-file-button{
		padding: 4px 25px;
		background-color:#FF6600;
		border-radius: 4px;
		color: white;
		cursor: pointer;
	}

</style>

<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">

<div th:replace="~{xdm/v1/infra/include/leftMenu :: leftMenu}"></div>          
      
<div th:replace="~{xdm/v1/infra/include/top :: top}"></div>         
      
<div class="content">
	<nav class="mb-2" aria-label="breadcrumb">
		<ol class="breadcrumb mb-0">
			<li class="breadcrumb-item"><a href="#!">Page 1</a></li>			<!-- ### -->
			<li class="breadcrumb-item"><a href="#!">Page 2</a></li>			<!-- ### -->
			<li class="breadcrumb-item active">Default</li>								<!-- ### -->
		</ol>
	</nav>
	<div class="mb-9">
	  <div class="row g-3 mb-4">
	    <div class="col-auto">
	      <h2 class="mb-0">개인정보 관리</h2>																<!-- ### -->
	    </div>
	  </div>
		<div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
			<div class="card-header p-4 border-bottom border-300 bg-soft">
				<div class="row g-3 justify-content-between align-items-center">
					<div class="col-12 col-md">
						<h4 class="text-900 mb-0">기본정보</h4>
					</div>
				</div>
			</div>
			<div class="card-body p-0">
				<div class="p-4 code-to-copy">
					<form id="form" name="form" method="post" autocomplete="off" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate="">
			
<div th:replace="~{xdm/v1/infra/member/memberXdmVo :: vo}"></div>			<!-- ### --> 					
						
						<div class="col-md-3">
							<label for="ifmmSeq" class="form-label fs--1">코드 <span class="text-danger fs-0">*</span></label>
							<input type="text" id="ifmmSeq" name="ifmmSeq" th:value="${item?.ifmmSeq}" maxlength="20" placeholder="자동생성" disabled class="form-control"/>
						</div>
						<div class="col-md-9">
						</div>						
						<div class="col-md-3">
							<label for="ifmmId" class="form-label fs--1">아이디 <span class="text-danger fs-0">*</span></label>
							<input type="text" id="ifmmId" name="ifmmId" th:value="${item?.ifmmId}" maxlength="20" placeholder="영대소문자,숫자" class="form-control"/>
							<div class="invalid-feedback" id="ifmmIdFeedback"></div>
						</div>
						<div class="col-md-3">
							<label for="ifmmName" class="form-label fs--1">이름 <span class="text-danger fs-0">*</span></label>
							<input type="text" id="ifmmName" name="ifmmName" th:value="${item?.ifmmName}" maxlength="20" placeholder="한글, 영대소문자, 숫자" class="form-control"/>
							<div class="invalid-feedback" id="ifmmNameFeedback"></div>
						</div>
						<div class="col-md-3">
							<label for="ifmmPassword" class="form-label fs--1">비밀번호 <span class="text-danger fs-0">*</span></label>
							<input type="text" id="ifmmPassword" name="ifmmPassword" th:value="${item?.ifmmPassword}" maxlength="20" placeholder="영대소문자, 숫자" class="form-control"/>
							<div class="invalid-feedback" id="ifmmPasswordFeedback"></div>
						</div>				
						<div class="col-md-3">
							<label for="ifmmPasswordRe" class="form-label fs--1">비밀번호 확인<span class="text-danger fs-0">*</span></label>
							<input type="text" id="ifmmPasswordRe" th:value="${item?.ifmmPassword}" class="form-control"/>
							<div class="invalid-feedback" id="ifmmPasswordReFeedback"></div>
						</div>
						<div class="col-md-3">
							<label for="ifmeEmailFull" class="form-label fs--1">이메일 <span class="text-danger fs-0">*</span></label>
							<input type="text" id="ifmeEmailFull" name="ifmeEmailFull" th:value="${item?.ifmeEmailFull}" maxlength="20" placeholder="영대소문자,숫자" class="form-control"/>
							<div class="invalid-feedback" id="ifmmIdFeedback"></div>
						</div>
						<div class="col-md-3">
							<label for="ifmmMobile" class="form-label fs--1">모바일 <span class="text-danger fs-0">*</span></label>
							<input type="text" id="ifmmMobile" name="ifmmMobile" maxlength="20" placeholder="한글, 영대소문자, 숫자" class="form-control"/>
							<div class="invalid-feedback" id="ifmmNameFeedback"></div>
						</div>
						<div class="col-md-3">
							<label for="ifmpNumber" class="form-label fs--1">전화번호 <span class="text-danger fs-0">*</span></label>
							<input type="text" id="ifmpNumber" name="ifmpNumber" th:value="${item?.ifmpNumber}" maxlength="20" placeholder="영대소문자,숫자" class="form-control"/>
							<div class="invalid-feedback" id="ifmmIdFeedback"></div>
						</div>
						<div class="col-md-3">
							<!--empty-->
						</div>
						<div class="col-md-3">						
							<label for="regDateTime" class="form-label">등록일</label>
							<input type="text" id="regDateTime" name="regDateTime" th:value="${#dates.format(item.regDateTime, 'yyyy-MM-dd HH:mm:ss')}" disabled class="form-control"/>
						</div>				
						<div class="col-md-3">						
							<label for="modDateTime" class="form-label">수정일</label>
							<input type="text" id="modDateTime" name="modDateTime" th:value="${#dates.format(item.modDateTime, 'yyyy-MM-dd HH:mm:ss')}" disabled class="form-control"/>
						</div>
						
<input type="hidden" id="regSeq" name="regSeq" th:value="|${item?.regId} (${item?.regSeq})|" disabled class="form-control"/>
<input type="hidden" id="regIp" name="regIp" th:value="${item?.regIp}" disabled class="form-control"/>
<input type="hidden" id="regDeviceCd" name="regDeviceCd" th:value="${item?.regDeviceCd}" disabled class="form-control"/>
<input type="hidden" id="modSeq" name="modSeq" th:value="|${item?.modId} (${item?.modSeq})|" disabled class="form-control"/>
<input type="hidden" id="modIp" name="modIp" th:value="${item?.modIp}" disabled class="form-control"/>
<input type="hidden" id="modDeviceCd" name="modDeviceCd" th:value="${item?.modDeviceCd}" disabled class="form-control"/>

						<div class="col-12">
							<div class="row">
								<div class="col-6 text-start">
								</div>
								<div class="col-6 text-end">
<!-- 									<button type="button" id="btnForm" class="btn btn-primary btn-sm btn_custom"><i class="fa-regular fa-pen-to-square fa-lg"></i></button> -->
									<button type="button" id="btnUseSubmit" class="btn btn-primary btn_custom"><i class="fa-solid fa-database fa-lg"></i></button>
								</div>
							</div>          
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

<div th:replace="~{xdm/v1/infra/include/footer :: footer}"></div>   

</div>

<form name="formVo" method="post">
	<div th:replace="~{xdm/v1/infra/member/memberXdmVo :: vo}"></div>			<!-- ### -->
</form>

<script>
	var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
	var navbarTop = document.querySelector('.navbar-top');
	
	if (navbarTopStyle === 'darker') {
		navbarTop.classList.add('navbar-darker');
	}

	var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
	var navbarVertical = document.querySelector('.navbar-vertical');
	if (navbarVertical && navbarVerticalStyle === 'darker') {
		navbarVertical.classList.add('navbar-darker');
	}
</script>
      
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<div th:replace="~{xdm/v1/infra/include/customize :: customize}"></div>

<div th:replace="~{xdm/v1/infra/include/modal :: modal}"></div>

<div th:replace="~{xdm/v1/infra/include/linkJs :: linkJs}"></div>

<script type="text/javascript">

	
	let goUrlUseXdmForm = "/v1/infra/member/memberUseXdmForm";											/* ### */
	let goUrlUseXdmUpdt = "/v1/infra/member/memberUseXdmUpdt";											/* ### */
	
	let seq = document.querySelector("input[name=ifmmSeq]");							/* ### */
	
	
	function validationInst() {
	    if(validationUpdt() == false) return false;
	}
	
	
	function validationUpdt() {
// 		if(!checkSelectNull('ifcgSeq', 2, "코드그룹을 선택해 주세요.")) return false;
// 		if(!checkOnlyEnglishNumber('ifcdSeqAnother', 2, 1, "코드 (Another)는 영대소문자, 숫자만 입력 가능합니다.")) return false;
// 		if(!checkOnlyKoreanEnglishNumber('ifcdName', 2, 0, "코드 이름은 한글, 영문대소문자, 숫자만 입력 가능합니다.")) return false;
// 		if(!checkOnlyEnglishNumber('ifcdNameEng', 2, 1, "코드 이름 (영문)는 영대소문자, 숫자만 입력 가능합니다.")) return false;
// 		if(!checkOnlyNumber('ifcdOrder', 2, 0, 1, 0, 255, "순서는 숫자(0~255)만 입력 가능합니다.")) return false;
// 		if(!checkOnlyEnglishNumber('ifcdReferenceV1', 2, 1, "예비1 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
// 		if(!checkOnlyEnglishNumber('ifcdReferenceV2', 2, 1, "예비2 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
// 		if(!checkOnlyEnglishNumber('ifcdReferenceV3', 2, 1, "예비3 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
// 		if(!checkOnlyEnglishNumber('ifcdReferenceV4', 2, 1, "예비4 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;		
// 		if(!checkOnlyNumber('ifcdReferenceI1', 2, 1, 1, -128, 127, "예비1 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
// 		if(!checkOnlyNumber('ifcdReferenceI2', 2, 1, 1, -128, 127, "예비2 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
// 		if(!checkOnlyNumber('ifcdReferenceI3', 2, 1, 1, -128, 127, "예비3 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
// 		if(!checkOnlyNumber('ifcdReferenceI4', 2, 1, 1, -128, 127, "예비4 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
	}
	
	document.getElementById('btnUseSubmit').onclick = function(){
		form.action = goUrlUseXdmUpdt;
		form.submit();
	}
	
</script>

<script src="/xdm/v1/js/includeXdmForm.js"></script>

</body>
</html>