<!DOCTYPE html>
<html lang="ko">

<div th:replace="~{xdm/v1/infra/include/head :: head}"></div>

<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">

<div th:replace="~{xdm/v1/infra/include/leftMenu :: leftMenu}"></div>          
      
<div th:replace="~{xdm/v1/infra/include/top :: top}"></div>         
      
<div class="content">
	<nav class="mb-2" aria-label="breadcrumb">
		<ol class="breadcrumb mb-0">
			<li class="breadcrumb-item"><a href="#!">Page 1</a></li>			<!-- ### -->
			<li class="breadcrumb-item"><a href="#!">Page 2</a></li>			<!-- ### -->
			<li class="breadcrumb-item active">Default</li>								<!-- ### -->
		</ol>
	</nav>
	<div class="mb-9">
	  	<div class="row g-3 mb-4">
	    	<div class="col-auto">
	      		<h2 class="mb-0">팝업관리</h2>														<!-- ### -->
	    	</div>
	  	</div>
		<div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
			<div class="card-header p-4 border-bottom border-300 bg-soft">
				<div class="row g-3 justify-content-between align-items-center">
					<div class="col-12 col-md">
						<h4 class="text-900 mb-0">기본정보</h4>
					</div>
				</div>
			</div>
			<div class="card-body p-0">
				<div class="p-4 code-to-copy">
					<form id="form" name="form" method="post" autocomplete="off" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate="">
			
<div th:replace="~{xdm/v1/infra/popup/PopupXdmVo :: vo}"></div>			<!-- ### --> 					
					
<div class="col-md-3">
	<label for="ifppSeq" class="form-label fs--1">코드 <span class="text-danger fs-0">*</span></label>
	<input type="text" id="ifppSeq" name="ifppSeq" th:value="${item?.ifppSeq}" maxlength="20" placeholder="자동생성" disabled class="form-control"/>
</div>
<div class="col-md-9">
	<!-- empty -->
</div>
<div class="col-md-3">
	<label for="ifppDisplayNy" class="form-label fs--1">디스플레이 <span class="text-danger fs-0">*</span></label>
	<select id="ifppDisplayNy" name="ifppDisplayNy" class="form-select">
		<option value="" >선택하세요</option>
		<option value="1" th:selected="${item?.ifppDisplayNy == 1}">사용</option>
		<option value="0" th:selected="${item?.ifppDisplayNy == 0}">미사용</option>
	</select>
	<div class="invalid-feedback" id="ifppDisplayNyFeedback"></div>
</div>
<div class="col-md-9">
	<!-- empty -->
</div>
<div class="col-md-3">
	<label for="ifppOrder" class="form-label fs--1">팝업순서<span class="text-danger fs-0">*</span></label>
	<input type="text" id="ifppOrder" name="ifppOrder" th:value="${item?.ifppOrder}" maxlength="20" placeholder="숫자" class="form-control"/>
	<div class="invalid-feedback" id="ifppOrderFeedback"></div>
</div>
<div class="col-md-3">
	<label for="ifppXpoint" class="form-label fs--1">X<span class="text-danger fs-0">*</span></label>
	<input type="text" id="ifppXpoint" name="ifppXpoint" th:value="${item?.ifppXpoint}" maxlength="20" placeholder="숫자" class="form-control"/>
	<div class="invalid-feedback" id="ifppXpointFeedback"></div>
</div>
<div class="col-md-3">
	<label for="ifppYpoint" class="form-label fs--1">Y<span class="text-danger fs-0">*</span></label>
	<input type="text" id="ifppYpoint" name="ifppYpoint" th:value="${item?.ifppYpoint}" maxlength="20" placeholder="숫자" class="form-control"/>
	<div class="invalid-feedback" id="ifppYpointFeedback"></div>
</div>
<div class="col-md-9">
	<!-- empty -->
</div>
<div class="col-md-6">
	<label for="ifppitle" class="form-label fs--1">팝업 제목</label>
	<input type="text" id="ifppTitle" name="ifppTitle" th:value="${item?.ifppTitle}" maxlength="20" placeholder="한글,숫자" class="form-control"/>
	<div class="invalid-feedback" id="ifppTitleFeedback"></div>
</div>
<div class="col-md-6">
	<!-- empty -->
</div>
<div class="col-md-6">
	<label for="ifppUrl" class="form-label fs--1">URL</label>
	<input type="text" id="ifppUrl" name="ifppUrl" th:value="${item?.ifppUrl}" maxlength="20" placeholder="한글,숫자" class="form-control"/>
	<div class="invalid-feedback" id="ifppUrlFeedback"></div>
</div>
<div class="col-md-6">
	<!-- empty -->
</div>
<div class="col-md-6">
	<label class="form-label fs--1">내용</label>
	<div class="controls">
		<input type="hidden" id="ifppContents" name="ifppContents">							
	  	<div id="ifppContentsEditor" th:utext="${item?.ifppContents}"></div>
	  	<div class="invalid-feedback" id="ifppContentsFeedback"></div>
<!-- 		<textarea class="form-control" id="ifppContents" name="ifppContents" th:text="${item?.ifppContents}" th:value="${item?.ifppContents}" style="height: 100px;"></textarea> -->
<!-- 		<div class="invalid-feedback" id="ifppContentsFeedback"></div> -->
	</div>
</div>
<div class="col-md-6">
	<!-- empty -->
</div>
<div class="col-md-3">
	<label for="ifppStartDateTime" class="form-label fs--1">시작일<span class="text-danger fs-0">*</span></label>
	<input type="text" id="ifppStartDateTime" name="ifppStartDateTime" th:value="${item?.ifppStartDateTime}" maxlength="20" placeholder="팝업 시작일" class="form-control"/>
	<div class="invalid-feedback" id="ifppStartDateTimeFeedback"></div>
</div>
<div class="col-md-3">
	<label for="ifppEndDateTime" class="form-label fs--1">종료일<span class="text-danger fs-0">*</span></label>
	<input type="text" id="ifppEndDateTime" name="ifppEndDateTime" th:value="${item?.ifppEndDateTime}" maxlength="20" placeholder="팝업 종료일" class="form-control"/>
	<div class="invalid-feedback" id="ifppEndDateTimeFeedback"></div>
</div>

<div class="col-md-6">
	<!-- empty -->
</div>
<div class="col-md-6" th:with="type=1, name='uploadImg'">
						<!-- 	<label for="ifcdNameEng" class="form-label fs--1">코드 이름 (영문)</label> -->
	<input type="hidden" th:id="|${name}Type|" th:name="|${name}Type|" th:value="${type}"/>
	<input type="hidden" th:id="|${name}MaxNumber|" th:name="|${name}MaxNumber|" value="0"/>
	<input type="hidden" th:id="|${name}DeleteSeq|" th:name="|${name}DeleteSeq|"/>
	<input type="hidden" th:id="|${name}DeletePathFile|" th:name="|${name}DeletePathFile|"/>
	<label th:for="|${name}|" class="form-label input-file-button fs--1">이미지첨부</label>
	<input class="form-control form-control-sm" 
	th:id="${name}"
	th:name="${name}"
	type="file"
	multiple="multiple"
	style="display: none;"
	th:onChange="upload([[${name}]],[[${type}]],0,1,0,0,1)"
	/>
	<!-- th:onChange="'javascript:upload(\''+ [[${name}]] +'\','+ [[${type}]] +',0,1,0,0,1);'" -->
	<!-- th:onChange="'javascript:upload(\''+ ${name} +'\','+ ${type} +',0,1,0,0,1);'" -->
	<!-- onChange="upload('[[${name}]]', '${type}', 0, 1, 0, 0, 1);" -->
	<div th:id="|${name}Preview|" class="addScroll">
		<div th:id="|imgDiv_${type}|" th:each="listUploaded : ${listUploaded}" style="display: inline-block; height: 95px;">	
			<img th:src="${listUploaded.path}" class="rounded" width= "85px" height="85px" style="cursor:pointer;" th:data-value="${listUploaded.path}" th:onClick="|openViewer(${listUploaded.type},${listUploaded.sort},this.getAttribute('data-value'));|">
			<div style="position: relative; top:-85px; left:5px"><span style="color: red; cursor:pointer;" >X</span></div>
	 	</div>
	</div>



</div>				
<div class="col-md-6">
	비어있음																									            
</div>	
<div class="col-md-6">
	<label class="form-label fs--1">설명</label>
	<div class="controls">
		<input type="hidden" id="ifppDesc" name="ifppDesc">							
	  	<div id="ifppDescEditor" th:utext="${item?.ifppDesc}"></div>
	  	<div class="invalid-feedback" id="ifrlDescFeedback"></div>
<!-- 		<textarea class="form-control" id="ifppContents" name="ifppContents" th:text="${item?.ifppContents}" th:value="${item?.ifppContents}" style="height: 100px;"></textarea> -->
<!-- 		<div class="invalid-feedback" id="ifppContentsFeedback"></div> -->
	</div>
</div>
<div class="col-md-6">
	<!-- empty -->
</div>					
<th:block th:if="${not #strings.isEmpty(item?.ifppSeq)}">			
	<div th:replace="~{xdm/v1/infra/include/regmod :: regmod}"></div>   						
</th:block>					
										
<div class="col-12">
	<div class="row">
		<div class="col-6 text-start">
			<button type="button" id="btnList" class="btn btn-outline-secondary btn-sm btn_custom"><i class="fa-solid fa-list fa-lg"></i></button>
<th:block th:if="${not #strings.isEmpty(item?.ifppSeq)}">									
			<button type="button" id="btnDelete" class="btn btn-danger btn-sm btn_custom"><i class="fa-solid fa-x fa-lg"></i></button>
			<button type="button" id="btnUelete" class="btn btn-danger btn-sm btn_custom"><i class="fa-regular fa-trash-can fa-lg"></i></button>
</th:block>
		</div>
		<div class="col-6 text-end">
<!-- 									<button type="button" id="btnForm" class="btn btn-primary btn-sm btn_custom"><i class="fa-regular fa-pen-to-square fa-lg"></i></button> -->
			<button type="button" id="btnSubmit" class="btn btn-primary btn_custom"><i class="fa-solid fa-database fa-lg"></i></button>
		</div>
	</div>          
</div>

					</form>
				</div>
			</div>
		</div>
	</div>

<div th:replace="~{xdm/v1/infra/include/footer :: footer}"></div>   

</div>

<form name="formVo" method="post">
	<div th:replace="~{xdm/v1/infra/popup/popupXdmVo :: vo}"></div>			<!-- ### -->
</form>

<script>
	var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
	var navbarTop = document.querySelector('.navbar-top');
	
	if (navbarTopStyle === 'darker') {
		navbarTop.classList.add('navbar-darker');
	}

	var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
	var navbarVertical = document.querySelector('.navbar-vertical');
	if (navbarVertical && navbarVerticalStyle === 'darker') {
		navbarVertical.classList.add('navbar-darker');
	}
</script>
      
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<div th:replace="~{xdm/v1/infra/include/customize :: customize}"></div>

<div th:replace="~{xdm/v1/infra/include/modal :: modal}"></div>

<div th:replace="~{xdm/v1/infra/include/linkJs :: linkJs}"></div>

<script type="text/javascript">

	window.addEventListener('load', function() {
		$("#ifppStartDateTime, #ifppEndDateTime").datetimepicker({
			timepicker:false,
				format: 'Y/m/d'
		});
	});
	
	let goUrlXdmList = "/v1/infra/popup/popupXdmList";						/* ### */
	let goUrlXdmAjaxList = "/v1/infra/popup/popupXdmAjaxList";		/* ### */
	let goUrlXdmInst = "/v1/infra/popup/popupXdmInst";						/* ### */
	let goUrlXdmUpdt = "/v1/infra/popup/popupXdmUpdt";						/* ### */
	let goUrlXdmDele = "/v1/infra/popup/popupXdmDele";						/* ### */
	let goUrlXdmUele = "/v1/infra/popup/popupXdmUele";						/* ### */
	
	let seq = document.querySelector("input[name=ifppSeq]");							/* ### */
	
	let ifppContents = document.getElementById("ifppContents");						/* ### */
	let ifppDesc = document.getElementById("ifppDesc");								/* ### */
	
    const ifppContentsEditor = new toastui.Editor({
        el: document.querySelector('#ifppContentsEditor'),
        height: '300px',
//         initialEditType: 'markdown',
        initialEditType: 'wysiwyg',
//         initialValue: '내용을 입력해 주세요.',
        previewStyle: 'vertical'
    });
	
	
    const ifppDescEditor = new toastui.Editor({
        el: document.querySelector('#ifppDescEditor'),
        height: '300px',
//         initialEditType: 'markdown',
        initialEditType: 'wysiwyg',
//         initialValue: '내용을 입력해 주세요.',
        previewStyle: 'vertical'
    });
	
    
	function validationInst() {
	    if(validationUpdt() == false) return false;
	    ifppContents.value = ifppContentsEditor.getHTML();
	    ifppDesc.value = ifppDescEditor.getHTML();
	}
	
	
	function validationUpdt() {
 		if(!checkOnlyKoreanNumber('ifppTitle', 2, 0, "팝업은 한글과 숫자만 입력 가능합니다.")) return false;
// 		if(!checkOnlyEnglishNumber('ifrlVersion', 2, 0, "팝업 버전은 영어와 숫자만 입력 가능합니다.")) return false;
// 		if(!checkSelectNull('ifrlUseNy', 2, 1, "사용여부를 선택해주세요")) return false;
// 		if(!checkOnlyNumber('ifcgOrder', 2, 0, 1, 0, 255, "순서는 숫자(0~255)만 입력 가능합니다.")) return false;
//  		if(!checkOnlyEnglishNumber('ifcgReferenceV1', 2, 1, "예비1 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
//  		if(!checkOnlyEnglishNumber('ifcgReferenceV2', 2, 1, "예비2 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
//  		if(!checkOnlyEnglishNumber('ifcgReferenceV3', 2, 1, "예비3 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
//  		if(!checkOnlyEnglishNumber('ifcgReferenceV4', 2, 1, "예비4 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
//  		if(!checkOnlyNumber('ifcgReferenceI1', 2, 1, 1, -128, 127, "예비1 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
//  		if(!checkOnlyNumber('ifcgReferenceI2', 2, 1, 1, -128, 127, "예비2 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
//  		if(!checkOnlyNumber('ifcgReferenceI3', 2, 1, 1, -128, 127, "예비3 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
//  		if(!checkOnlyNumber('ifcgReferenceI4', 2, 1, 1, -128, 127, "예비4 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
 		ifppContents.value = ifppContentsEditor.getHTML();
	    ifppDesc.value = ifppDescEditor.getHTML();
	}

	
	upload = function() {
		
		alert("asdasdf");
	
	}
	
upload = function(objName, seq, allowedMaxTotalFileNumber, allowedExtdiv, allowedEachFileSize, allowedTotalFileSize, uiType) {
		
//		objName 과 seq 는 jsp 내에서 유일 하여야 함.
//		memberProfileImage: 1
//		memberImage: 2
//		memberFile : 3

//		uiType: 1 => 이미지형
//		uiType: 2 => 파일형
//		uiType: 3 => 프로필형

		var files = $("#" + objName +"")[0].files;
		var filePreview = $("#" + objName +"Preview");
		var numbering = [];
		var maxNumber = 0;
		
		if(uiType == 1) {
			var uploadedFilesCount = document.querySelectorAll("#" + objName + "Preview > div > img").length;
			var tagIds = document.querySelectorAll("#" + objName + "Preview > div");
			
			for(var i=0; i<tagIds.length; i++){
				var tagId = tagIds[i].getAttribute("id").split("_");
				numbering.push(tagId[2]);
			}
			
			alert(numbering.length);
			
			for(let i=0; i < numbering.length; i++){
// 				alert(i);
			}
			
			
			
			if(uploadedFilesCount > 0){
				numbering.sort();
				maxNumber = parseInt(numbering[numbering.length-1]) + parseInt(1);
			}
		} else if(uiType == 2){
			var uploadedFilesCount = document.querySelectorAll("#" + objName + "Preview > li").length;
			var tagIds = document.querySelectorAll("#" + objName + "Preview > li");

			for(var i=0; i<tagIds.length; i++){
				var tagId = tagIds[i].getAttribute("id").split("_");
				numbering.push(tagId[2]);
			}
			
			if(uploadedFilesCount > 0){
				numbering.sort();
				maxNumber = parseInt(numbering[numbering.length-1]) + parseInt(1);
			}
		} else {
			// by pass
		}
		
		$("#" + objName + "MaxNumber").val(maxNumber);

		var totalFileSize = 0;
		var filesCount = files.length;
		var filesArray = [];
		
		allowedMaxTotalFileNumber = allowedMaxTotalFileNumber == 0 ? MAX_TOTAL_FILE_NUMBER : allowedMaxTotalFileNumber;
		allowedEachFileSize = allowedEachFileSize == 0 ? MAX_EACH_FILE_SIZE : allowedEachFileSize;
		allowedTotalFileSize = allowedTotalFileSize == 0 ? MAX_TOTAL_FILE_SIZE : allowedTotalFileSize;
		
		if(checkUploadedTotalFileNumber(files, allowedMaxTotalFileNumber, filesCount, uploadedFilesCount) == false) { return false; }
		
		for (var i=0; i<filesCount; i++) {
			if(checkUploadedExt(files[i].name, seq, allowedExtdiv) == false) { return false; }
			if(checkUploadedEachFileSize(files[i], seq, allowedEachFileSize) == false) { return false; }

			totalFileSize += files[i].size;
			
			filesArray.push(files[i]);
		}

		if(checkUploadedTotalFileSize(seq, totalFileSize, allowedTotalFileSize) == false) { return false; }
		
		if (uiType == 1) {
			for (var i=0; i<filesArray.length; i++) {
				var file = filesArray[i];

				var picReader = new FileReader();
			    picReader.addEventListener("load", addEventListenerCustom (objName, seq, i, file, filePreview, maxNumber));
			    picReader.readAsDataURL(file);
			}			
		} else if(uiType == 2) {
			for (var i = 0 ; i < filesCount ; i++) {
				addUploadLi(objName, seq, i, $("#" + objName +"")[0].files[i].name, filePreview, maxNumber);
			}
		} else if (uiType == 3) {
			var fileReader = new FileReader();
			 fileReader.onload = function () {
				 $("#uploadImgProfilePreview").attr("src", fileReader.result);		/* #-> */
			 }	
			 fileReader.readAsDataURL($("#" + objName +"")[0].files[0]);
		} else {
			return false;
		}
		return false;
	}
	
	
	addEventListenerCustom = function (objName, type, i, file, filePreview, maxNumber) { 
		return function(event) {
			var imageFile = event.target;
			var sort = parseInt(maxNumber) + i;

			var divImage = "";
			divImage +=	'<input class="form-control form-control-sm" id="uploadImg2" name="uploadImg2" type="file" multiple="multiple" style="display: none;" onChange="upload(uploadImg2,1,0,1,0,0,1)"/>';
			divImage += '<div id="imgDiv_'+type+'_'+ sort +'" style="display: inline-block; height: 95px;">';
			divImage += '	<img src="'+ imageFile.result +'" class="rounded" width= "85px" height="85px">';
			divImage += '	<div style="position: relative; top:-85px; left:5px"><span style="color: red; cursor:pointer;" onClick="delImgDiv(0,' + type +','+ sort +')">X</span></div>';
			divImage += '</div> ';
			
			filePreview.append(divImage);
	    };
	}
	
	
	delImgDiv = function(objName, type, sort, deleteSeq, pathFile) {
		
		$("#imgDiv_"+type+"_"+sort).remove();
		
		var objDeleteSeq = $('input[name='+ objName +'DeleteSeq]');
		var objDeletePathFile = $('input[name='+ objName +'DeletePathFile]');

		if(objDeleteSeq.val() == "") {
			objDeleteSeq.val(deleteSeq);
		} else {
			objDeleteSeq.val(objDeleteSeq.val() + "," + deleteSeq);
		}
		
		if(objDeletePathFile.val() == "") {
			objDeletePathFile.val(pathFile);
		} else {
			objDeletePathFile.val(objDeletePathFile.val() + "," + pathFile);
		}
	}
	
	
	addUploadLi = function (objName, type, i, name, filePreview, maxNumber){

		var sort = parseInt(maxNumber) + i;
		
		var li ="";
		li += '<input type="hidden" id="'+ objName +'Process_'+type+'_'+ sort +'" name="'+ objName +'Process" value="1">';
		li += '<input type="hidden" id="'+ objName +'Sort_'+type+'_'+ sort +'" name="'+ objName +'Sort" value="'+ sort +'">';
		li += '<li id="li_'+type+'_'+sort+'" class="list-group-item d-flex justify-content-between align-items-center">';
		li += name;
		li +='<span class="badge bg-danger rounded-pill" onClick="delLi(0,'+ type +','+ sort +')"><i class="fa-solid fa-x" style="cursor: pointer;"></i></span>';
		li +='</li>';
		
		filePreview.append(li);
	}
	
	
	delLi = function(objName, type, sort, deleteSeq, pathFile) {
		
		$("#li_"+type+"_"+sort).remove();

		var objDeleteSeq = $('input[name='+ objName +'DeleteSeq]');
		var objDeletePathFile = $('input[name='+ objName +'DeletePathFile]');

		if(objDeleteSeq.val() == "") {
			objDeleteSeq.val(deleteSeq);
		} else {
			objDeleteSeq.val(objDeleteSeq.val() + "," + deleteSeq);
		}
		
		if(objDeletePathFile.val() == "") {
			objDeletePathFile.val(pathFile);
		} else {
			objDeletePathFile.val(objDeletePathFile.val() + "," + pathFile);
		}
	}
	
	openViewer = function (type, sort) {
		var str = '<c:set var="tmp" value="'+ type +'"/>';
		$("#modalImgViewer").append(str);
		$("#modalImgViewer").modal("show");
	}
</script>

<script src="/xdm/v1/js/includeXdmForm.js"></script>

</body>
</html>