<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>다국어 테스트 화면입니다</h1>
	<p th:if="${session.sessSeqUsr != ''}">이름 : [[${session.sessNameUsr}]]</p>
	<p th:unless="${session.sessSeqUsr != ''}">로그인하세여</p>
	<a th:href="@{/v1/infra/member/infoChangeUsrForm}">회원정보 수정</a>
	<a th:href="@{/v1/infra/member/infoPwdChangeUsrForm}">비밀번호 변경</a>
	<a th:href="@{/v1/infra/member/withdrawUsrForm}">회원정보 탈퇴</a>
	<a th:href="@{/v1/infra/member/findIdPwdUsrForm}">아이디 찾기</a>
	<a th:href="@{/v1/infra/member/findPwdUsrForm}">비밀번호 찾기</a>
    <p>가나다라마바사아자차카타바하</p>
    <p>ㄱㄴㄷㄹㅁㅂㅅㅇㅈㅊㅋㅌㅍㅎ</p>
    <p>ㅛㅕㅑㅐㅔㅗㅓㅏㅣㅠㅜㅡ</p>
    <p>qwertyuiopasdfghjklzxcvbnm</p>
    <p>1234567890</p>
    <p>!@#$%^&*()_+"?>~`[];',./</p>
	
	<a th:href="@{/v1/infra/member/indexUsrView}">KR</a>
	<button>EN</button>
	<br>
	<br>
	<a th:href="@{/v1/infra/member/signinUsrForm}" th:if="${session.sessSeqUsr == null}">로그인</a>
	<button id="btnSignout" type="button" th:unless="${session.sessSeqUsr == null}">로그아웃</button>
	
	
	<div th:replace="~{usr/v1/infra/include/linkJs :: linkJs}"></div>
	
</body>
</html>