<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">  

      <nav th:fragment="leftMenu" class="navbar navbar-vertical navbar-expand-lg">
        <script>
          var navbarStyle = window.config.config.phoenixNavbarStyle;
          if (navbarStyle && navbarStyle !== 'transparent') {
            document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
          }
        </script>
        <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
          <!-- scrollbar removed-->
		<div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
				<li class="nav-item">
					<div class="nav-item-wrapper"><a class="nav-link label-1" id="index" th:href="@{/v1/infra/index/indexXdmView}" role="button" data-bs-toggle="" aria-expanded="false">
		                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="pie-chart"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">Home</span></span>
		                    </div>
		                  </a>
		             </div>
					<div class="nav-item-wrapper"><a class="nav-link label-1" id="noticeUse" th:href="@{/v1/infra/notice/noticeUseXdmList}" data-bs-toggle="" aria-expanded="false">
		                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="bell"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">공지사항</span></span>
		                    </div>
		                  </a>
		             </div>
           
                <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-users" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-users">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="users"></span></span><span class="nav-link-text">회원관리</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-users">
                      <li class="collapsed-nav-item-title d-none">회원관리
                      </li>
                      <li class="nav-item"><a class="nav-link" id="member" th:href="@{/v1/infra/member/memberXdmList}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">멤버관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-monitor" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-monitor">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="monitor"></span></span><span class="nav-link-text">서비스관리</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-monitor">
					  <li class="collapsed-nav-item-title d-none">서비스관리
                      </li>
                      <li class="nav-item"><a class="nav-link" id="popup" th:href="@{/v1/infra/popup/popupXdmList}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">팝업관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" id="banner" th:href="@{/v1/infra/banner/bannerXdmList}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">배너관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" id="template" th:href="@{/v1/infra/template/templateXdmList}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">템플릿관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" id="rule" th:href="@{/v1/infra/rule/ruleXdmList}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">정책관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-qna" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-qna">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="message-square"></span></span><span class="nav-link-text">커뮤니케이션</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-qna">
					  <li class="collapsed-nav-item-title d-none">커뮤니케이션
                      </li>
                      <li class="nav-item"><a class="nav-link" id="qna" th:href="@{/v1/infra/qna/qnaXdmList}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">Qna관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" id="notice" th:href="@{/v1/infra/notice/noticeXdmList}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">공지사항관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
              <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-code" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-code">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="settings"></span></span><span class="nav-link-text">시스템관리</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-code">
                      <li class="collapsed-nav-item-title d-none">시스템관리
                      </li>
                      <li class="nav-item"><a class="nav-link" id="code" th:href="@{/v1/infra/code/codeXdmList}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">코드관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" id="codegroup" th:href="@{/v1/infra/codegroup/codeGroupXdmList}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">코드그룹관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="nav-item-wrapper"><a class="nav-link label-1" id="memberUse" th:href="@{/v1/infra/member/memberUseXdmForm}" data-bs-toggle="" aria-expanded="false">
	              <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="user"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">개인정보 관리</span></span>
	              </div></a>
	            </div>
	            <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-test" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-test">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="layers"></span></span><span class="nav-link-text">test</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-test">
                      <li class="nav-item"><a class="nav-link" id="test1" href="#" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">test1</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" id="test2" href="#" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">test2</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" id="test3" href="#" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">test3</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                    </ul>
                  </div>
                </div>
                </li>
            </ul>
          </div>
        </div>
        <div class="navbar-vertical-footer">
          <button class="btn navbar-vertical-toggle border-0 fw-semi-bold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-0"></span><span class="uil uil-arrow-from-right fs-0"></span><span class="navbar-vertical-footer-text ms-2">Collapsed View</span></button>
        </div>
        
      </nav>
      
      
        
</html>          
          