<!DOCTYPE html>
<html lang="ko">
<div th:replace="~{usr/v1/mallbicycle/include/includeUsrHead :: includeUsrHead}"></div>

<body>

<!-- skippy -->
<a id="skippy" class="skippy visually-hidden-focusable overflow-hidden" href="#content">
    <div class="container">
        <span class="u-skiplink-text">Skip to main content</span>
    </div>
</a>
<!-- End skippy -->
<!-- Preload -->
<!--<div id="loading" class="loading-preloader">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
--><!-- End Preload -->

<!-- 
========================
    Wrapper 
========================
-->
<div class="wrapper">
    <!-- heder height -->
    <div class="header-height-bar"></div>
    
<!-- includeUsrGnb s -->
<div th:replace="~{usr/v1/infra/include/top :: top}"></div> 
<!-- includeUsrGnb e -->
<!-- <div th:replace="~{usr/v0/infra/include/modal:: modal}"></div> -->
<div th:replace="~{usr/v1/mallbicycle/include/includeUsrModal :: includeUsrModal}"></div>
<!-- Main -->
    <main>
        <!-- login page -->
        <div class="section">
            <div class="container">
                <div class="justify-content-center row">
                    <div class="col-lg-5 col-xxl-4">
                        <div class="card">
                            <div class="card-header bg-transparent py-3">
                                <h3 class="h4 mb-0" id="findPasswordTitle">Find Password </h3>
                            </div>
							<form id="form" name="form" method="post" autocomplete="off">
								<div id="rtId">
		                            <div id="findPwd" class="card-body">
										<div id="inputDiv">
											<div class="form-group mb-3">
											    <label for="ifmmName" class="form-label">Name<span class="text-danger">*</span></label>
											    <input type="text" id="ifmmName" name="ifmmName" maxlength="20" class="form-control" placeholder="Name">
												<div class="invalid-feedback" id="ifmmNameFeedback"></div>
											</div>
											<div class="form-group mb-3">
										        <label class="form-label col" for="ifmmId">ID<span class="text-danger">*</span></label>
											    <input type="text" id="ifmmId" name="ifmmId" maxlength="20" class="form-control" placeholder="">
												<div class="invalid-feedback" id="ifmmIdFeedback"></div>
											</div>
											<div class="form-group mb-3">
										        <label class="form-label col" for="ifmeEmailFull">Email<span class="text-danger">*</span></label>
											    <input type="text" id="ifmeEmailFull" name="ifmeEmailFull" maxlength="20" class="form-control" placeholder="abc@example.com">
												<div class="invalid-feedback" id="ifmeEmailFullFeedback"></div>
											</div>
											<div class="form-group text-center">
										        <button type="button" class="btn btn-primary w-100" id="btnSmtp">
										            인증번호 전송
										        </button>
										    </div>
										</div>
										<div class="form-group mb-3" id="authEmail" hidden>
											<label class="form-label col" for="ifcfKey">인증번호<span class="text-danger">*</span></label><span id="timeout" style="color: blue; margin-left: 3px;"></span>
										    <input type="text" id="ifcfKey" name="ifcfKey" class="form-control" style="margin-bottom: 6px;">
											<button type="button" class="btn btn-primary w-100" id="btnSmtpCk">인증번호 확인</button><br>
										</div>
										<div id="goChangePwd" hidden>
											<input type="hidden" id="ifmmSeq" name="ifmmSeq">
											<div class="form-group mb-3">
										        <label class="form-label col" for="ifmmPassword">Password<span class="text-danger">*</span></label>
											    <input type="text" id="ifmmPassword" name="ifmmPassword" maxlength="20" class="form-control" placeholder="">
												<div class="invalid-feedback" id="ifmmPasswordFeedback"></div>
											</div>
											<div class="form-group mb-3">
										        <label class="form-label col" for="ifmmPasswordCk">PasswordCheck<span class="text-danger">*</span></label>
											    <input type="text" id="ifmmPasswordCk" name="ifmmPasswordCk" maxlength="20" class="form-control" placeholder="">
												<div class="invalid-feedback" id="ifmmPasswordCkFeedback"></div>
											</div>
											<button type="button" class="btn btn-primary w-100" id="btnChangePwd" >change password</button>
										</div>
										<div class="text-center pb-3" id="resultFindPwd">
										    <!-- <span class="text-muted">임시 비밀번호를 메일로 발송해 드렸습니다.</span> -->
										</div>                                    
		                            </div>
								</div>
							</form>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <!-- end login -->
    </main>
    <!-- End Main -->
    
<!-- includeUsrFooter s -->
<div th:replace="~{usr/v1/mallbicycle/include/includeUsrFooter :: includeUsrFooter}"></div>
<!-- includeUsrFooter e -->   

</div>
<!-- 
========================
    End Wrapper 
========================
-->
<!-- includeUsrLinkJs s -->
<div th:replace="~{usr/v1/mallbicycle/include/includeUsrLinkJs :: includeUsrLinkJs}"></div>
<!-- includeUsrLinkJs e -->
<script>
		
		
		
		document.getElementById("btnSmtp").onclick = function(){
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				/* ,dataType:"json" */
				,url: "/v1/infra/member/sendMailGoogleCertificationUsrProc"
				/* ,data : $("#formLogin").serialize() */
				,data : { "ifmmId" : $("#ifmmId").val(), "ifmmName" : $("#ifmmName").val(), "ifmeEmailFull" : $("#ifmeEmailFull").val()}
				,success: function(response) {
					if(response.rt == "success") {
						document.getElementById("ifmmSeq").value = response.seq;
						document.getElementById("btnSmtp").remove();
						document.getElementById("authEmail").hidden = false;
					} else {
						document.getElementById("modalAlertTitle").innerText = "확 인";
				 		document.getElementById("modalAlertBody").innerText = "가입 정보를 확인해주세요";
				 		$("#modalAlert").modal("show");
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
		
		
		document.getElementById("btnSmtpCk").onclick = function(){
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				/* ,dataType:"json" */
				,url: "/v1/infra/member/certificationCheckUsrProc"
				/* ,data : $("#formLogin").serialize() */
				,data : { "ifcfKey" : $("#ifcfKey").val(), "ifmeEmailFull" : $("#ifmeEmailFull").val()}
				,success: function(response) {
					if(response.rt == "success") {
						document.getElementById("inputDiv").hidden = true;
						document.getElementById("authEmail").hidden = true;
						document.getElementById("goChangePwd").hidden = false;
						document.getElementById("findPasswordTitle").innerText = "Change Password";
					} else {
						document.getElementById("modalAlertTitle").innerText = "확 인";
				 		document.getElementById("modalAlertBody").innerText = "인증번호가 일치하지 않습니다";
				 		$("#modalAlert").modal("show");
						document.getElementById("ifcfKey").value = null;
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
		
		document.getElementById("btnChangePwd").onclick = function(){
			if(validationInst() == false) return false;
			let pwd = document.getElementById("ifmmPassword").value;
			let pwdCk = document.getElementById("ifmmPasswordCk").value;
			if(pwd == pwdCk){
				$.ajax({
					async: true 
					,cache: false
					,type: "post"
					/* ,dataType:"json" */
					,url: "/v1/infra/member/findChangePwdUsrProc"
					/* ,data : $("#formLogin").serialize() */
					,data : {"ifmmSeq" : $("#ifmmSeq").val(),"ifmmPassword" : $("#ifmmPassword").val()}
					,success: function(response) {
						if(response.rt == "success") {
							document.getElementById("ifmmPasswordCk").classList.remove('is-invalid');
							location.href = "/v1/infra/member/signinUsrForm"
						} else {
//							by pass
						}
					}
					,error : function(jqXHR, textStatus, errorThrown){
						alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
					}
				});
			} else {
				document.getElementById("ifmmPasswordCk").classList.add('is-invalid');
				document.getElementById("ifmmPasswordCkFeedback").innerText = '비밀번호가 일치하지 않습니다.';
				document.getElementById("ifmmPasswordCk").value = ''
			}
		}
		
		function timeoutTimer(endTime, timeout) {
			let now = Date.now();
			let end = endTime.getTime();
			let timeLeft = end - now;
			let secondsLeft = Math.max(0, Math.floor(timeLeft / 1000));

			// 남은 분과 초 계산
			let minutes = Math.floor(secondsLeft / 60);
			let seconds = secondsLeft % 60;

			// 두 자리로 나타내기 위해 초가 한 자리일 경우 앞에 '0'을 붙임
			let formattedTime = minutes + ":" + (seconds < 10 ? "0" + seconds : seconds);

			document.getElementById("timeout").innerText = formattedTime;

			if (secondsLeft <= 0) {
				document.getElementById("authEmail").remove();
				return;
			}

			setTimeout(function() {
				timeoutTimer(endTime, timeout);
			}, timeout);
		}

		// 5분 타이머 시작 (1분 = 60000ms, timeout = 900ms)
		timeoutTimer(new Date(Date.now() + (TIMER_MINUTES*3)), 900);
		
		
		function validationInst() {
		    if(validationUpdt() == false) return false;
		}
		
		
		function validationUpdt() {
	 		if(!checkPassword('ifmmPassword', 2, 0, "비밀번호 형식에 맞게 입력해주세요")) return false;
		}
	</script>
</body>

</html>