<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<form name="formList" >
	<input type="hidden" id="ifntSeq" name="ifntSeq">
	    <h1>공지사항</h1>
	    <table>
	        <thead>
	            <tr>
	                <th>제목</th>
	                <th>작성일</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}" th:id="'trNum_' + ${list.ifntSeq}">
	                <td><a href="javascript:void(0);" th:text="${list.ifntTitle}" th:attr="onclick=|goForm('${list.ifntSeq}')|" ></a></td>
	                <td th:text="${#dates.format(list.regDateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
	            </tr>
	        </tbody>
	    </table>
	</form>
	<div th:replace="~{usr/v1/infra/include/linkJs :: linkJs}"></div>
	
	<script>
		let goUrlUsrList = "/v1/infra/notice/noticeUsrList";								/* ### */
		let goUrlUsrForm = "/v1/infra/notice/noticeUsrView";								/* ### */
		let goUrlUsrMultiUele = "/v1/infra/notice/noticeUsrMultiUele";			/* ### */
		let goUrlUsrMultiDele = "/v1/infra/notice/noticeUsrMultiDele";			/* ### */
		let goUrlUsrView = "/v1/infra/notice/noticeUsrView";								/* ### */
		
		let seq = document.querySelector("input[name=ifntSeq]");									/* ### */
		
	</script>
	
	<script src="/usr/v1/js/includeUsrList.js"></script>
	
</body>
</html>