<!DOCTYPE html>
<html lang="ko">

<div th:replace="~{xdm/v1/infra/include/head :: head}"></div>

<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">

<div th:replace="~{xdm/v1/infra/include/leftMenu :: leftMenu}"></div>          
      
<div th:replace="~{xdm/v1/infra/include/top :: top}"></div>         
      
<div class="content">
	<nav class="mb-2" aria-label="breadcrumb">
		<ol class="breadcrumb mb-0">
			<li class="breadcrumb-item"><a href="#!">Page 1</a></li>			<!-- ### -->
			<li class="breadcrumb-item"><a href="#!">Page 2</a></li>			<!-- ### -->
			<li class="breadcrumb-item active">Default</li>								<!-- ### -->
		</ol>
	</nav>
	<div class="mb-9">
	 	<div class="row g-3 mb-4">
	    	<div class="col-auto">
	      		<h2 class="mb-0">UUID</h2>														<!-- ### -->
	    	</div>
	  	</div>
		<div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
			<div class="card-header p-4 border-bottom border-300 bg-soft">
				<div class="row g-3 justify-content-between align-items-center">
					<div class="col-12 col-md">
						<h4 class="text-900 mb-0">기본정보</h4>
					</div>
				</div>
			</div>
			<div class="card-body p-0">
				<div class="p-4 code-to-copy">
					<form id="form" name="form" method="post" autocomplete="off" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate="">
			
<div class="col-md-6">
	<label for="ifcdSeq" class="form-label fs--1">UUID <span class="text-danger fs-0">*</span></label>
	<input type="text" id="uuid" name="uuid" maxlength="20" placeholder="자동생성" readonly class="form-control"/>
</div>
<div class="col-md-6">
	<!-- empty -->
</div>

										
<div class="col-12">
	<div class="row">
		<div class="col-6 text-start">
			<button type="button" id="btnList" class="btn btn-outline-secondary btn-sm btn_custom"><i class="fa-solid fa-list fa-lg"></i></button>
		</div>
		<div class="col-6 text-end">
			<button type="button" id="btnUuid" class="btn btn-primary btn_custom">U</button>
		</div>
	</div>          
</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>

<div th:replace="~{xdm/v1/infra/include/footer :: footer}"></div>   

</div>

<script>
	var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
	var navbarTop = document.querySelector('.navbar-top');
	
	if (navbarTopStyle === 'darker') {
		navbarTop.classList.add('navbar-darker');
	}

	var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
	var navbarVertical = document.querySelector('.navbar-vertical');
	if (navbarVertical && navbarVerticalStyle === 'darker') {
		navbarVertical.classList.add('navbar-darker');
	}
</script>
      
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<div th:replace="~{xdm/v1/infra/include/customize :: customize}"></div>

<div th:replace="~{xdm/v1/infra/include/modal :: modal}"></div>

<div th:replace="~{xdm/v1/infra/include/linkJs :: linkJs}"></div>

<script type="text/javascript">

	window.addEventListener('load', function() {
			
	});
	
	let goUrlXdmList = "/v1/infra/code/codeXdmList";											/* ### */
	let goUrlXdmAjaxList = "/v1/infra/code/codeXdmAjaxList";							/* ### */
	let goUrlXdmInst = "/v1/infra/code/codeXdmInst";											/* ### */
	let goUrlXdmUpdt = "/v1/infra/code/codeXdmUpdt";											/* ### */
	let goUrlXdmDele = "/v1/infra/code/codeXdmDele";											/* ### */
	let goUrlXdmUele = "/v1/infra/code/codeXdmUele";											/* ### */
	
	let seq = document.querySelector("input[name=ifcdSeq]");							/* ### */
	
	document.getElementById("btnList").onclick = function(){
		location.href = goUrlXdmList;
	}
	
	document.getElementById("btnUuid").onclick = function () {
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			/* ,dataType:"json" */
			,url: "/v1/infra/code/codeXdmCreateUuidProc"
// 			/* ,data : $("#formLogin").serialize() */
			,success: function(response) {
				document.getElementById("uuid").value = '';
				document.getElementById("uuid").value = response.uuid;
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
</script>

</body>
</html>